<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--命名空间是对应接口的包名+类名,指定要映射的接口 -->
<mapper namespace="com.jay.dao.UserDao">
    <!--id是接口中的方法名，结果类型如没有在mybatis.xml文件中配置别名，则必须使用全名称（包名+类名） -->
    <select id="getAllUsers" resultType="User">
        select *
        from user
    </select>

    <select id="getUserById" resultType="User">
        select *
        from user
        where id = #{0}
    </select>

    <select id="getUserByCondition" parameterType="java.util.Map" resultType="User">
        select *
        from user
        where 1 = 1
        <if test="name != null and name != ''">
            and name like concat("%", #{name}, "%")
        </if>
        <if test="department != null and department != ''">
            and department like concat("%", #{department}, "%")
        </if>
        <if test="locationInfo != null and locationInfo != ''">
            and locationInfo like concat("%", #{locationInfo}, "%")
        </if>
    </select>

    <select id="getLocationInfo" resultType="java.lang.String">
        SELECT DISTINCT(t1.locationInfo)
        FROM user t1
    </select>

    <select id="findUserForExcel" parameterType="java.util.Map" resultType="map">
        SELECT t2.*,
        t1.*
        FROM pcinfo t1
        LEFT JOIN USER t2 ON t1.userid = t2.id
        <if test="locationInfo != null and locationInfo != ''">
            where t2.locationInfo = #{locationInfo}
        </if>
    </select>

    <insert id="addUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into user (name, department, locationInfo, tel, updatedTime)
        values (#{name}, #{department}, #{locationInfo}, #{tel}, #{updatedTime})
    </insert>

    <update id="updateUser" parameterType="User">
        update user
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="department != null">department = #{department},</if>
            <if test="locationInfo != null">locationInfo = #{locationInfo},</if>
            <if test="tel != null">tel = #{tel},</if>
            <if test="updatedTime != null">updatedTime=#{updatedTime}</if>
        </set>
        where id=#{id}
    </update>

</mapper>